<div style="text-align:center;">
    <p>
       Sign in/ Sign up with your google account !
      </p> 
     <button (click)="SignIn();">Sign In</button>

     <button (click)="SignOut();">Sign UP</button>
   </div>
