<div class="container" [ngStyle]="{'opacity':opacity}">


  <div class="row">
    <div class="col-md-2">
      <p>
        My To Do list
      </p>
    </div>
    <div class="col-md-6">

    </div>
    <div class="col-md-4">
      <span style="margin-right:1%;">
        <button (click)="HomeProfile();" class="btn btn-primary">
          <i class="fas fa-user"></i>My Profile</button>
      </span>
      <span style="margin-right:1%;">
        <button class="btn btn-success" type="button" data-toggle="modal" data-target="#exampleModal" (click)="openModel()">
          <i class="fas fa-plus"></i>
          Add Task
        </button>
      </span>


      <!-- <span> {{d | date : 'fullDate'}}</span> -->
    </div>
  </div>
  <div class="row">
    <div class=" col-md-12">
      <table class="table table-bordered">
        <thead>
          <th>
            S.No
          </th>
          <th>
            Item to Do
          </th>
          <th>
            Action
          </th>
        </thead>
        <tbody>
          <tr *ngFor="let task of todoList | paginate: { itemsPerPage: 5, currentPage: p }; let i = index;">
            <td>
              {{i}}
            </td>
            <td>
              {{task.description}}
            </td>
            <td>
              <button (click)="deleteToDo(i,task.description)" class="btn btn-danger" style="margin-right:1%;">
                <i class="fas fa-trash"></i>
              </button>
              <button (click)="editToDo(task.description,i);" class="btn btn-primary" type="button" data-toggle="modal" data-target="#exampleModalEdit">
                <i class="fas fa-edit"></i>
              </button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>

  <!--Pagination module to be used-->
  <div class="row">
    <div class="col-md-4"></div>
    <div class="col-md-4">
      <pagination-controls (pageChange)="p = $event"></pagination-controls>
    </div>
    <div class="col-md-4"></div>

  </div>
</div>



<!--Add modal window-->
<div #titleModel [ngStyle]="{'display':display}" class="modal fade show" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
  aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">My task</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="closeFunction();">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="form-group">
          <label for="usr">
            Task Description
          </label>
          <input id="usr" type="text" [(ngModel)]="inputText" name="text" class="form-control" />
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" (click)="saveChanges(inputText);">Save changes</button>
      </div>
    </div>
  </div>
</div>


<!--Edit modal window-->
<div [ngStyle]="{'display':displayEdit}" class="modal fade show" id="exampleModalEdit" tabindex="-1" role="dialog"
  aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">My task</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="closeFunction();">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="form-group">
          <label for="usr">
            Task Description
          </label>
          <input id="usr" type="text" [(ngModel)]="editData" name="text" class="form-control" />
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" (click)="saveEditChanges(editData);">Update changes</button>
      </div>
    </div>
  </div>
</div>