<div class="container">
    <div class="row">
        <div class="col-md-2">
                <p>
                    User's Information
                </p>
        </div>
        <div class="col-md-8">

        </div>

        <div class="col-md-2">
                <button (click)="ToDoList();" style="float:left:">To Do's</button>
                <button (click)="SignOut();" style="float:right;"> Sign Out</button>
        </div>
    </div>
    <div class="row">
            <div class="col-md-12">
                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <th *ngFor="let header of userDisplayInformation;let i = index;">
                                    {{header.label}}
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td *ngFor="let header of userDisplayInformation; let j = index;">
                                    <span *ngIf="header.property!=='photoUrl'&&user!=null">
                                        {{user[header.property]}}
                                    </span>
                                    <span *ngIf="header.property=='photoUrl'&&user!=null">
                                        <img src="{{user[header.property]}}">
                                    </span>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
    </div>


    

</div>


